In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import cufflinks as cf
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [3]:
pwd

'/home/soumyajit-ipc/Documents/repo/Datasets'

In [6]:
df=pd.read_csv('/home/soumyajit-ipc/Documents/repo/Datasets/kaggle_datasets.csv')
df.head(10)

,title,description,url,owner,kernels,discussions,views,downloads,last_updated,license,size,featured,super_featured,upvotes
0,Trending YouTube Video Statistics (UPDATED),"Daily statistics (views, likes, category, tags...",https://www.kaggle.com/datasnaek/youtube-new,Mitchell J,3,4,9484,1668,2018-01-16,CC0,35087677.0,1,0,46
1,7ecb8f4fe2ece9f4c8ffd23af10c310f,NaN,https://www.kaggle.com/veralei/7ecb8f4fe2ece9f...,Vera Lei,0,0,55,2,2018-01-16,Other,127264365.0,0,0,0
2,Atom Dataset,Dataset with atom features,https://www.kaggle.com/chfly2000/nomad2018-ato...,chfly2000,0,0,26,1,2018-01-16,Other,0.0,0,0,0
3,tmptmp,NaN,https://www.kaggle.com/ilyaivanchenko/tmptmp,snow2011,0,0,12,1,2018-01-16,CC0,1635900.0,0,0,0
4,Lab 1 Matrix,NaN,https://www.kaggle.com/tjb5670/lab-1-matrix,Tjb5670,0,0,7,1,2018-01-16,CC0,18.0,0,0,0
5,Koppen-Geiger climate classification,A world map shapefile from data observed durin...,https://www.kaggle.com/nighrtwing/koppen-geige...,gabro,0,0,6,0,2018-01-16,Other,777566.0,0,0,1
6,Trial Dataset,NaN,https://www.kaggle.com/prashanth1994/trial-dat...,Prashanth Sekar,0,0,5,0,2018-01-16,Other,404381.0,0,0,0
7,glove_embedding_weights,NaN,https://www.kaggle.com/zymiao/glove-embedding-...,Zuoyu Miao,0,0,5,0,2018-01-16,CC0,137847611.0,0,0,1
8,20180116083816,NaN,https://www.kaggle.com/mic771112/20180116083816,Shanger Lin,0,0,5,0,2018-01-16,Other,8071716.0,0,0,0
9,final_best14,NaN,https://www.kaggle.com/shivrajp/final-best14,Getting_started,0,0,4,1,2018-01-16,CC0,184162.0,0,0,0

In [9]:
df.dropna(inplace=True)
df.head()

,title,description,url,owner,kernels,discussions,views,downloads,last_updated,license,size,featured,super_featured,upvotes
0,Trending YouTube Video Statistics (UPDATED),"Daily statistics (views, likes, category, tags...",https://www.kaggle.com/datasnaek/youtube-new,Mitchell J,3,4,9484,1668,2018-01-16,CC0,35087677.0,1,0,46
2,Atom Dataset,Dataset with atom features,https://www.kaggle.com/chfly2000/nomad2018-ato...,chfly2000,0,0,26,1,2018-01-16,Other,0.0,0,0,0
5,Koppen-Geiger climate classification,A world map shapefile from data observed durin...,https://www.kaggle.com/nighrtwing/koppen-geige...,gabro,0,0,6,0,2018-01-16,Other,777566.0,0,0,1
17,Alexa Top 1 Million Sites,"Rankings of the top 1 million websites, in the...",https://www.kaggle.com/cheedcheed/top1m,SidG,0,0,3,0,2018-01-16,Other,10022849.0,0,0,0
39,myself_modules,Try to run multi files script,https://www.kaggle.com/paulyangsz/myselfmodules,Paul Yang,0,0,1,0,2018-01-16,GPL,23968.0,0,0,0

In [11]:
df.shape

(3084, 14)

# Data set having the maximum number of kernels

In [26]:
df['kernels'].max()

3390

In [28]:
df[df['kernels']==3390]

,title,description,url,owner,kernels,discussions,views,downloads,last_updated,license,size,featured,super_featured,upvotes
7929,Iris Species,Classify iris plants into three species in thi...,https://www.kaggle.com/uciml/iris,UCI Machine Learning,3390,90,156757,22537,2016-09-27,CC0,15347.0,1,0,484

# Data set having maximum number of views

In [30]:
df['views'].max()

429745

In [44]:
df[df['views']==429745]

,title,description,url,owner,kernels,discussions,views,downloads,last_updated,license,size,featured,super_featured,upvotes
5715,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",https://www.kaggle.com/tmdb/tmdb-movie-metadata,The Movie Database (TMDb),1388,89,429745,59399,2017-09-28,Other,45742895.0,1,0,983

# Data set having the maximum upvotes

In [33]:
df['upvotes'].max()

1131

In [34]:
df[df['upvotes']==1131]

,title,description,url,owner,kernels,discussions,views,downloads,last_updated,license,size,featured,super_featured,upvotes
7822,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,https://www.kaggle.com/dalpozz/creditcardfraud,Andrea,1761,73,416425,49627,2016-11-05,ODbL,150828752.0,1,0,1131

# How many data frames are added each year

In [46]:
df['last_updated'].unique()

array(['2018-01-16', '2018-01-15', '2018-01-14', '2018-01-13',
       '2018-01-12', '2018-01-11', '2018-01-10', '2018-01-09',
       '2018-01-08', '2018-01-07', '2018-01-06', '2018-01-05',
       '2018-01-04', '2018-01-03', '2018-01-02', '2018-01-01',
       '2017-12-31', '2017-12-30', '2017-12-29', '2017-12-28',
       '2017-12-27', '2017-12-26', '2017-12-25', '2017-12-24',
       '2017-12-23', '2017-12-22', '2017-12-21', '2017-12-20',
       '2017-12-19', '2017-12-18', '2017-12-17', '2017-12-16',
       '2017-12-15', '2017-12-14', '2017-12-13', '2017-12-12',
       '2017-12-11', '2017-12-10', '2017-12-09', '2017-12-08',
       '2017-12-07', '2017-12-06', '2017-12-05', '2017-12-04',
       '2017-12-03', '2017-12-02', '2017-12-01', '2017-11-30',
       '2017-11-29', '2017-11-28', '2017-11-27', '2017-11-26',
       '2017-11-25', '2017-11-24', '2017-11-23', '2017-11-22',
       '2017-11-21', '2017-11-20', '2017-11-19', '2017-11-18',
       '2017-11-17', '2017-11-16', '2017-11-15', '2017-11-14',
       '2017-11-13', '2017-11-12', '2017-11-11', '2017-11-10',
       '2017-11-09', '2017-11-08', '2017-11-07', '2017-11-06',
       '2017-11-05', '2017-11-04', '2017-11-03', '2017-11-02',
       '2017-11-01', '2017-10-31', '2017-10-30', '2017-10-29',
       '2017-10-27', '2017-10-26', '2017-10-25', '2017-10-24',
       '2017-10-23', '2017-10-22', '2017-10-21', '2017-10-20',
       '2017-10-19', '2017-10-18', '2017-10-17', '2017-10-16',
       '2017-10-15', '2017-10-14', '2017-10-13', '2017-10-12',
       '2017-10-11', '2017-10-10', '2017-10-09', '2017-10-08',
       '2017-10-07', '2017-10-06', '2017-10-05', '2017-10-04',
       '2017-10-03', '2017-10-02', '2017-10-01', '2017-09-30',
       '2017-09-29', '2017-09-28', '2017-09-27', '2017-09-26',
       '2017-09-25', '2017-09-24', '2017-09-23', '2017-09-22',
       '2017-09-21', '2017-09-20', '2017-09-19', '2017-09-18',
       '2017-09-17', '2017-09-16', '2017-09-15', '2017-09-14',
       '2017-09-13', '2017-09-12', '2017-09-11', '2017-09-10',
       '2017-09-09', '2017-09-08', '2017-09-07', '2017-09-06',
       '2017-09-05', '2017-09-04', '2017-09-03', '2017-09-02',
       '2017-09-01', '2017-08-31', '2017-08-30', '2017-08-29',
       '2017-08-28', '2017-08-27', '2017-08-26', '2017-08-25',
       '2017-08-24', '2017-08-23', '2017-08-22', '2017-08-21',
       '2017-08-20', '2017-08-19', '2017-08-18', '2017-08-17',
       '2017-08-16', '2017-08-15', '2017-08-14', '2017-08-13',
       '2017-08-12', '2017-08-11', '2017-08-10', '2017-08-09',
       '2017-08-08', '2017-08-07', '2017-08-06', '2017-08-05',
       '2017-08-04', '2017-08-03', '2017-08-02', '2017-08-01',
       '2017-07-31', '2017-07-30', '2017-07-29', '2017-07-28',
       '2017-07-27', '2017-07-26', '2017-07-25', '2017-07-24',
       '2017-07-23', '2017-07-22', '2017-07-21', '2017-07-20',
       '2017-07-19', '2017-07-18', '2017-07-17', '2017-07-16',
       '2017-07-15', '2017-07-14', '2017-07-13', '2017-07-12',
       '2017-07-11', '2017-07-10', '2017-07-09', '2017-07-08',
       '2017-07-07', '2017-07-06', '2017-07-05', '2017-07-04',
       '2017-07-03', '2017-07-02', '2017-07-01', '2017-06-30',
       '2017-06-29', '2017-06-28', '2017-06-27', '2017-06-26',
       '2017-06-25', '2017-06-24', '2017-06-23', '2017-06-22',
       '2017-06-21', '2017-06-20', '2017-06-19', '2017-06-18',
       '2017-06-17', '2017-06-16', '2017-06-15', '2017-06-14',
       '2017-06-13', '2017-06-12', '2017-06-11', '2017-06-09',
       '2017-06-08', '2017-06-07', '2017-06-06', '2017-06-05',
       '2017-06-04', '2017-06-03', '2017-06-02', '2017-06-01',
       '2017-05-31', '2017-05-30', '2017-05-29', '2017-05-28',
       '2017-05-27', '2017-05-26', '2017-05-25', '2017-05-24',
       '2017-05-23', '2017-05-22', '2017-05-21', '2017-05-20',
       '2017-05-19', '2017-05-18', '2017-05-17', '2017-05-16',
       '2017-05-15', '2017-05-14', '2017-05-13', '2017-05-12',
       '2017-05-11', '2017-05-10', '2017-05-09', '2017-05-08',
       '2017-05-07', '2017-05-06', '2017-05-05', '2017-05-04',
       '2017-05-03', '2017-05-02', '2017-05-01', '2017-04-30',
       '2017-04-29', '2017-04-28', '2017-04-27', '2017-04-26',
       '2017-04-25', '2017-04-24', '2017-04-23', '2017-04-22',
       '2017-04-21', '2017-04-20', '2017-04-19', '2017-04-18',
       '2017-04-17', '2017-04-16', '2017-04-15', '2017-04-13',
       '2017-04-12', '2017-04-11', '2017-04-10', '2017-04-09',
       '2017-04-08', '2017-04-07', '2017-04-06', '2017-04-05',
       '2017-04-04', '2017-04-03', '2017-04-02', '2017-03-31',
       '2017-03-30', '2017-03-29', '2017-03-28', '2017-03-27',
       '2017-03-26', '2017-03-25', '2017-03-24', '2017-03-23',
       '2017-03-22', '2017-03-21', '2017-03-20', '2017-03-19',
       '2017-03-18', '2017-03-17', '2017-03-16', '2017-03-15',
       '2017-03-14', '2017-03-13', '2017-03-12', '2017-03-11',
       '2017-03-10', '2017-03-09', '2017-03-08', '2017-03-07',
       '2017-03-06', '2017-03-05', '2017-03-03', '2017-03-02',
       '2017-03-01', '2017-02-28', '2017-02-27', '2017-02-26',
       '2017-02-25', '2017-02-24', '2017-02-23', '2017-02-22',
       '2017-02-21', '2017-02-20', '2017-02-19', '2017-02-18',
       '2017-02-17', '2017-02-16', '2017-02-15', '2017-02-14',
       '2017-02-13', '2017-02-12', '2017-02-11', '2017-02-10',
       '2017-02-09', '2017-02-08', '2017-02-07', '2017-02-06',
       '2017-02-05', '2017-02-04', '2017-02-03', '2017-02-02',
       '2017-02-01', '2017-01-31', '2017-01-30', '2017-01-29',
       '2017-01-28', '2017-01-27', '2017-01-26', '2017-01-25',
       '2017-01-24', '2017-01-23', '2017-01-21', '2017-01-20',
       '2017-01-19', '2017-01-18', '2017-01-17', '2017-01-16',
       '2017-01-15', '2017-01-14', '2017-01-13', '2017-01-12',
       '2017-01-11', '2017-01-10', '2017-01-09', '2017-01-08',
       '2017-01-07', '2017-01-06', '2017-01-05', '2017-01-04',
       '2017-01-03', '2017-01-02', '2017-01-01', '2016-12-31',
       '2016-12-30', '2016-12-29', '2016-12-28', '2016-12-26',
       '2016-12-25', '2016-12-24', '2016-12-23', '2016-12-22',
       '2016-12-21', '2016-12-20', '2016-12-19', '2016-12-18',
       '2016-12-17', '2016-12-15', '2016-12-14', '2016-12-13',
       '2016-12-12', '2016-12-11', '2016-12-10', '2016-12-09',
       '2016-12-08', '2016-12-07', '2016-12-06', '2016-12-05',
       '2016-12-04', '2016-12-03', '2016-12-02', '2016-12-01',
       '2016-11-30', '2016-11-29', '2016-11-28', '2016-11-27',
       '2016-11-26', '2016-11-25', '2016-11-24', '2016-11-23',
       '2016-11-22', '2016-11-21', '2016-11-20', '2016-11-19',
       '2016-11-18', '2016-11-17', '2016-11-16', '2016-11-15',
       '2016-11-14', '2016-11-13', '2016-11-12', '2016-11-11',
       '2016-11-10', '2016-11-09', '2016-11-08', '2016-11-07',
       '2016-11-06', '2016-11-05', '2016-11-04', '2016-11-03',
       '2016-11-02', '2016-11-01', '2016-10-31', '2016-10-30',
       '2016-10-28', '2016-10-27', '2016-10-26', '2016-10-25',
       '2016-10-24', '2016-10-23', '2016-10-22', '2016-10-21',
       '2016-10-20', '2016-10-19', '2016-10-18', '2016-10-16',
       '2016-10-15', '2016-10-14', '2016-10-13', '2016-10-12',
       '2016-10-11', '2016-10-08', '2016-10-07', '2016-10-06',
       '2016-10-05', '2016-10-04', '2016-10-03', '2016-10-02',
       '2016-09-30', '2016-09-28', '2016-09-27', '2016-09-26',
       '2016-09-25', '2016-09-24', '2016-09-23', '2016-09-22',
       '2016-09-21', '2016-09-20', '2016-09-19', '2016-09-18',
       '2016-09-17', '2016-09-15', '2016-09-14', '2016-09-13',
       '2016-09-12', '2016-09-11', '2016-09-09', '2016-09-08',
       '2016-09-07', '2016-09-06', '2016-09-05', '2016-09-02',
       '2016-08-31', '2016-08-30', '2016-08-29', '2016-08-26',
       '2016-08-25', '2016-08-24', '2016-08-23', '2016-08-22',
       '2016-08-21', '2016-08-20', '2016-08-19', '2016-08-18',
       '2016-08-17', '2016-08-05', '2016-08-03', '2016-07-29',
       '2016-07-26', '2016-07-20', '2016-07-16', '2016-07-03',
       '2016-07-01', '2016-06-16', '2016-06-14', '2016-06-09',
       '2016-06-03', '2016-05-29', '2016-05-26', '2016-05-20',
       '2016-05-17', '2016-05-09', '2016-05-02', '2016-04-26'],
      dtype=object)

In [52]:
df[(df['last_updated']>='2018-01-01') & (df['last_updated']<='2018-12-31')]['title'].count()

140

In [53]:
df[(df['last_updated']>='2017-01-01') & (df['last_updated']<='2017-12-31')]['title'].count()

2513

In [54]:
df[(df['last_updated']>='2016-01-01') & (df['last_updated']<='2016-12-31')]['title'].count()

431

In [71]:
df[(df['last_updated']>='2015-01-01') & (df['last_updated']<='2015-12-31')]['title'].count()

0

In [72]:
data=[[2016,431],[2017,2513],[2018,140],[2015,0]]
x=pd.DataFrame(data,columns=['years','data frames'])
x.head()

   years  data frames
0   2016          431
1   2017         2513
2   2018          140
3   2015            0

In [73]:
x.set_index('years',inplace=True)

In [74]:
x.head()

       data frames
years
2016           431
2017          2513
2018           140
2015             0

In [75]:
x.iplot(kind='bar')

# What are different kinds of license of data set and its numbers

In [76]:
df['license'].value_counts()

Other    1220
CC0      1118
CC4       404
ODbL      269
GPL        43
CC3        30
Name: license, dtype: int64

In [86]:
m=df['license'].value_counts()
m.iplot(kind='bar',colors='green')